@using FoodieBFCapstone.Models
@model List<BlogPost>

@{
    ViewBag.Title = "RecipeSubCategory";
}
<h2>Recipes</h2>
@*want this to dynamicly change to reflect what subcategory you are displaying
    <h3></h2>*@

<br />
@if (Model != null && Model.Any())
{

    foreach (var item in Model)
    { 
        <a href="@Url.Action("Details","Home", new
                             {
                                 blogId = item.BlogId
                             })">
        <div class="row" style="max-height:255px">
            <div class="col-md-3">
                <div class="item">

                    <img class="item" src="@item.MainPictureUrl" alt="" />

                </div>
            </div>
            <div class="col-md-8">
                
                    <h4>@item.Title - <span style="font-weight: normal; font-size: medium">@item.CreatedOn.ToShortDateString()</span></h4>
                    <div class="blogContent">@item.Summary</div>
                    <p style="color:teal">Author: @item.Author.FirstName @item.Author.LastName</p>
                
            </div>
        </div>
    </a>
    }
}