@using FoodieBFCapstone.Models
@model IEnumerable<FoodieBFCapstone.Models.BlogPost>

@{
    ViewBag.Title = "RecipeSubCategory";
}
<h2>Recipes</h2>
@*want this to dynamicly change to reflect what subcategory you are displaying
    <h3></h2>*@

<br />
@if (Model != null && Model.Any())
{

    foreach (var item in Model)
    {
        <div class="row" style="max-height:255px">
            <div class="col-md-3">
                <div class="item">
                    <a href="@Url.Action("Details", new
                             {
                                 id = item.BlogId
                             })">
                        <img class="item" src="@item.MainPictureUrl" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <h4>@item.Title - <span style="font-weight: normal; font-size: medium">@item.PublishDate.ToShortDateString()</span></h4>
                <div class="blogContent">@item.Summary</div>
            </div>
        </div>

    }
}