@using FoodieBFCapstone.UI.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="margin-left: 5%; margin-right: 5%;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand glyphicon glyphicon-heart" href="@Url.Action("Index", "Home")"></a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Foodie & the BlowFish <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Recipes <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Breakfast", "Subcategory", "Subcategory", new { subcategory = "Breakfast" }, null)</li>
                            <li>@Html.ActionLink("Lunch", "Subcategory", "Subcategory", new { subcategory = "Lunch" }, null)</li>
                            <li>@Html.ActionLink("Dinner", "Subcategory", "Subcategory", new { subcategory = "Dinner" }, null)</li>
                            <li>@Html.ActionLink("Dessert", "Subcategory", "Subcategory", new { subcategory = "Dessert" }, null)</li>
                            <li>@Html.ActionLink("Drinks", "Subcategory", "Subcategory", new { subcategory = "Drinks" }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Around The World <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("North America", "Subcategory", "Subcategory", new {subcategory = "NorthAmerica"}, null)</li>
                            <li>@Html.ActionLink("South America", "Subcategory", "Subcategory", new {subcategory = "SouthAmerica"}, null)</li>
                            <li>@Html.ActionLink("Asia", "Subcategory", "Subcategory", new {subcategory = "Asia"}, null)</li>
                            <li>@Html.ActionLink("Europe", "Subcategory", "Subcategory", new {subcategory = "Europe"}, null)</li>
                            <li>@Html.ActionLink("Australia", "Subcategory", "Subcategory", new {subcategory = "Australia"}, null)</li>
                            <li>@Html.ActionLink("Africa", "Subcategory", "Subcategory", new {subcategory = "Africa"}, null)</li>
                            <li>@Html.ActionLink("Antarctica", "Subcategory", "Subcategory", new {subcategory = "Antarctica"}, null)</li>
                        </ul>
                    </li>
                    @*@Html.Partial("_StaticDropDown")*@
    
                    <li>@Html.ActionLink("Travels", "Static", "Home")</li>
                    <form class="navbar-form navbar-left" role="search" action="/Search/Search/" method="post" form="inline">
                        <div class="form-group">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Seach By... <span class="caret"></span></a>
                                <input type="hidden" id="type" name="type" />
                                <ul id="TypeDD" class="dropdown-menu" role="menu">
                                    <li value="searchTag" role="menuitem">Tag</li>
                                    <li value="searchAuthor" role="menuitem">Author</li>
                                    <li value="searchBlogTitle" role="menuitem">Blog Title</li>
                                    <li value="searchBlogContains" role="menuitem">Blog Contains</li>
                                </ul>
                            </li>
                            <li>

                                <input type="text" class="form-control input-sm form-inline" placeholder="Search" id="search" name="text" style="width: 70%;">
                                <button type="submit" class="btn btn-default form-inline"><span class="glyphicon glyphicon-search"></span></button>

                            </li>
                        </div>
                    </form>
                </ul>
                @Html.Partial("_LoginPartial")

                <div>

                    @*<div class="dropdown form-group" style="font-size: small; width: 100% !important;">
                         @*</div>
                    <div class="navbar-collapse collapse" style="font-size: medium; margin-left: 45px;">
                        <ul class="nav navbar-nav">
        <li class="dropdown">
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Tags", "TagList", "Search", null, new { id = "searchTag" })</li>
                <li>@Html.ActionLink("Author", "AuthorList", "Search", null, new { id = "searchAuthor" })</li>
                <li>@Html.ActionLink("Blog Title", "BlogTitleList", "Search", null, new { id = "searchBlogTitle" })</li>
                <li>@Html.ActionLink("Blog Content", "BlogContainsList", "Search", null, new { id = "searchBlogContains" })</li>
            </ul>
        </li>
    </ul>
                    </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <br>
        <br>
        <br>
        <br>

        @RenderBody()
    </div>
    <hr>
    <footer>
        <p style="text-align: center;">&copy; @DateTime.Now.Year - Foodie and the BlowFish</p>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        $(document).ready(function () {
       
            $('#TypeDD li').on("click", function () {
                var value = "search" + $(this).text().replace(/\s/g, '');
                $('#type').val(value);
            });
        });
    </script>
</body>
</html>