@model FoodieBFCapstone.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<div id="sidebar" class="sidebar">
  
        <h4>Tags</h4>
        <br />
        @foreach (var tag in Model.Tags)
        {
            <a href="@Url.Action("TagList", "Home", new {TagId = Model.Tags[0].TagId})">#@tag.TagName</a>
        }
  
</div>
<div class="col-md-10">
<h2>@Model.Title</h2>
    <br />
<h4 align="left">Posted by: @Model.Author.FirstName @Model.Author.LastName</h4>
<h5 align="left">
    Posted on:
    @if (Model.ApprovedOn != null)
    {
        @Model.ApprovedOn.Value.ToShortDateString()
    }
</h5>
<p align="justify">@Html.Raw(Model.PostContent)</p>
</div>

@section scripts
{
    <script src="~/Scripts/stickyfill.min.js"></script>
    <script src="~/Scripts/App/sidebar.js"></script>
}
