@model FoodieBFCapstone.UI.Models.IndexVM
@using FoodieBFCapstone.Models

@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    @foreach (var fpost in Model.FeaturedPosts)
            {

        <div class="col-sm-4 centered-and-cropped">
            <img src="@fpost.MainPictureUrl" style="height: 250px; margin-top: 15px;" />
            <h4 align="center">@fpost.Title</h4>
            <p align="center">@fpost.Summary</p>
        </div>

    }
</div>

@foreach (var post in Model.AllPosts)
{
    <div class="row">
        <div class="col-sm-2 item">
            <img src="@post.MainPictureUrl" class="item" />
        </div>
        <div class="col-sm-8" style="margin: 10px;">
            <p>
                <h4>@post.Title</h4>
            </p>
            <p>@post.Summary</p>
            <p>Posted on: @post.ApprovedOn</p>
        </div>
    </div>
}