
﻿@using System.Activities.Statements
@using System.Web.Mvc.Html
@using FoodieBFCapstone.Models
@using Microsoft.Ajax.Utilities
@model FoodieBFCapstone.UI.Models.AdminVM

@{
    ViewBag.Title = "Home";
}

<h2 align="center">Pending Articles</h2>

<div>
    @Html.ActionLink("Create Post", "CreatePost","Admin", new {@class="btn btn-primary"})
    @foreach (var item in Model.Blog)
    {
        <div class="row">
            <div class="col-md-2">
                <img src="@item.MainPictureUrl" class="item"/>
            </div>
            <div class="col-md-4" style="margin: 20px;">
                <p>
                    <h4>@item.Title</h4>
                </p>
                <p>Description: @item.Summary</p>
                @*<p style="color: teal">Author: @item.Author.FirstName @item.Author.LastName</p>*@
                <p>Created On: @item.CreatedOn.ToShortDateString()</p>

            </div>
            <div class="col-md-4">

                <br/>
                <br/>
                <div>
                    @using (Html.BeginForm("UpdateStatus", "Admin", FormMethod.Post, new {@class = "form-group"}))
                    {

                        <div class="form-inline">
                            <input type="hidden" id="BlogPost_BlogId" name="BlogId" value="@item.BlogId"/>

                            @Html.DropDownList("StatusId", Model.BlogStatus, new {@class = "form-control", @style = "width: 150px"})

                            <button class="btn btn-primary" type="submit" style="margin-left: 40px">Save</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
    <br/>


<div id="sidebar" class="sidebar">
    <h4>Search By Status</h4>
    <p>@Html.ActionLink("Pending", "Home", "Admin", new { id = "1" }, null)</p>
    <p>@Html.ActionLink("Active", "StatusFilter", "Admin", new { id = "2" }, null)</p>
    <p>@Html.ActionLink("Inactive", "StatusFilter", "Admin", new { id = "3" }, null)</p>
    <p>@Html.ActionLink("Denied", "StatusFilter", "Admin", new { id = "4" }, null)</p>
    <p>@Html.ActionLink("Featured", "StatusFilter", "Admin", new { id = "5" }, null)</p>
</div>

@section scripts
{
    <script src="~/Scripts/stickyfill.min.js"></script>
    <script src="~/Scripts/App/sidebar.js"></script>
}






