@model FoodieBFCapstone.UI.Models.AdminVM

@{
    ViewBag.Title = "StatusFilter";
}

<h2>Articles</h2>

@using (Html.BeginForm("StatusFilter", "Admin", FormMethod.Post))
{

    <br />
    <br />
    <br />
    <br />
    <br />

    <div>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Search by Status <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Pending", "Home", "Admin", new { id = "1" }, null)</li>
                <li>@Html.ActionLink("Active", "StatusFilter", "Admin", new { id = "2" }, null)</li>
                <li>@Html.ActionLink("Inactive", "StatusFilter", "Admin", new { id = "3" }, null)</li>
                <li>@Html.ActionLink("Denied", "StatusFilter", "Admin", new { id = "4" }, null)</li>
                <li>@Html.ActionLink("Featured", "StatusFilter", "Admin", new { id = "5" }, null)</li>
            </ul>
        </li>
    </div>

    <div>
        @foreach (var item in Model.Blog)
        {
            <div class="row" id="@item.BlogId">
                <div class="col-md-2">
                    <img src="@item.MainPictureUrl" class="item"/>
                </div>
                <div class="col-md-7" style="margin: 10px;">
                    <p>
                        <h4>@item.Title</h4>
                    </p>
                    <br />
                    <br />
                    <br />
                    <p>Created On: @item.CreatedOn.ToShortDateString()</p>
                </div>
                <div class="col-md-2">
                    <label style="margin-right: 10px;">Status: @item.Status</label>
                    <br />
                    <button class="btn btn-primary" href="@Url.Action("Details", "Home", new {Id = item.BlogId})" onclick="@item.BlogId" type="submit">View</button>
                    <br />
                    <br />
                </div>
            </div>
        }
    </div>




}