@using System.Security.Cryptography.X509Certificates
@using FoodieBFCapstone.Models
@using FoodieBFCapstone.UI.Models
@model FoodieBFCapstone.UI.Models.AdminVM

@{
    ViewBag.Title = "StatusFilter";
}
<div class="col-md-12">
    <h2 align="center">@(((Status)ViewBag.status).ToString()) Articles</h2>

    @if (@Model.Blog.Count > 0)
    {
        using (Html.BeginForm("StatusFilter", "Admin", FormMethod.Post))
        {

            <div>

                @foreach (var item in Model.Blog)
                {
                    <a href="@Url.Action("Details", "Home", new {blogId = item.BlogId})">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="@item.MainPictureUrl" class="item" style="border-radius: 8px;" />
                            </div>
                            <div class="col-md-5" style="margin-left: 20px;">
                                <p>
                                    <h4>@item.Title</h4>
                                </p>
                                <p>@item.Summary</p>
                                <p style="color: teal">Author: @item.Author.FirstName @item.Author.LastName</p>
                                <p>Created On: @item.CreatedOn.ToShortDateString()</p>
                            </div>
                        </div>
                    </a>
                    <hr />
                }
            </div>
        }
    }
    else
    {
        <h3 align="center">There Are No @(((Status)ViewBag.status).ToString()) Posts To Review</h3>
    }
</div>

<div id="sidebar" class="sidebar">
    <h4>Search By Status</h4>
    <br/>
    <p>@Html.ActionLink("Pending", "Home", "Admin", new { id = "1" }, null)</p>
    <p>@Html.ActionLink("Active", "StatusFilter", "Admin", new { id = "2" }, null)</p>
    <p>@Html.ActionLink("Inactive", "StatusFilter", "Admin", new { id = "3" }, null)</p>
    <p>@Html.ActionLink("Denied", "StatusFilter", "Admin", new { id = "4" }, null)</p>
    <p>@Html.ActionLink("Featured", "StatusFilter", "Admin", new { id = "5" }, null)</p>
</div>

@section scripts
{
    <script src="~/Scripts/stickyfill.min.js"></script>
    <script src="~/Scripts/App/sidebar.js"></script>
}